/*---Header---*/

.main-header {
  width: 100%;
  border-bottom: 1px solid lightgray;
}

.top-links {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.top-links li {
  margin: 5px 10px;
}

.top-links li img{
  width: 70%;
  height: 70%;
}

.top-links li a {
  text-decoration: none;
  color: gray;
}

.top-links a:hover {
  border-bottom: 2px solid pink;
}

.top-links a:active {
  border-bottom: 2px solid pink;
}

.top-links input {
  background: rgba(0,0,0,.1);
  height: 28px;
  border-radius: 5px;
  width: 95vw;
}

/*---Images---*/

.main-content {
  display: flex;
  flex-wrap: wrap;
  margin: 10px 5px;
}

.main-content h2 {
  width: 100%;
  font-size: 30px;
  text-align: center;
}

.category-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.categories {
  width: 24%;
  margin: 3px auto;
  position: relative;
}

.category {
  width: 100%;
  border-radius: 5px;
}

.category-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  color: white;
  font-size: 14px;
}

.image-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.images {
  width: 100%;
  overflow: hidden;
  margin: 4px 4px;
  position: relative;
}

.image {
  max-width:100%;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, .25);
  z-index: 1;
  color: white;
}

.like {
  background-size: cover;
  width: 25%;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(255,255,255,.7);
  border-radius: 50%;

}

.like img{
  width: 100%;
  height: 100%;
}

.counter {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%);
  border: 1px solid white;
  padding: 2px 15px;
}


/*---UI-View Image---*/

.imageUrlContainer {
  display: flex;
  justify-content: center;
  width: 80%;
  margin: 5px auto;
}

.imageUrlContainer img {
  width: 100%;
  height: 100%;
}

.imageInformation {
  display: flex;
  width: 80%;
  margin: 5px auto;
}


/*---Footer---*/

/*.main-footer {
  height: 200px;
  background: lightgray;
}*/

/*---@Media---*/

@media (min-width:768px) {

  .top-links {
    justify-content: space-between;
    align-items: center;
  }

  .top-links li img{
    width: 100%;
    height: 100%;
  }

  .top-links input {
    height: 30px;
    border-radius: 5px;
    width: 40vw;
  }

  .category-overlay {
    font-size: 28px;
  }

  .images {
    width: 32%;
    height: 20vw;
  }

}

@media (min-width:1200px) {

  .images {
    width: 24%;
    height: 13.5vw;
  }

}
