

/*---Header---*/

.main-header {
  width: 100%;
  border-bottom: 1px solid lightgray;
}

.top-links {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.top-links li {
  margin: 5px 20px;
}

.top-links li a {
  text-decoration: none;
  color: gray;
}

.top-links li a:hover {

}

.top-links input {
  background: rgba(0,0,0,.1);
  height: 28px;
  border-radius: 5px;
  width: 95vw;
}

/*---Images---*/

.main-content {
  margin: 20px 5px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.main-content h2 {
  width: 100%;
  text-align: center;
  font-size: 30px;
}

.images {
  width: 48%;
  height: 35vw;
  border: 1px solid black;
  overflow: hidden;
  margin: 4px 0px;
  position: relative;
}

.image {
  height: 100%;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, .5);
  z-index: 1;
  color: white;
}

.like {
  background: url('../img/heart-outline.png') center no-repeat;
  background-size: contain;
  height: 60%;
  width: 50%;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.counter {
  position: absolute;
  top: 85%;
  left: 50%;
  transform: translate(-50%);
  border: 1px solid white;
  padding: 2px 15px;
}

/*---@Media---*/

@media (min-width:768px) {

  .top-links {
    justify-content: space-between;
    align-items: center;
  }

  .top-links input {
    height: 30px;
    border-radius: 5px;
    width: 40vw;
  }

}
